.born.container.mt-5
    h3.font-weight-bold.text-warning.pl-3.borderTitle Born today
    p.normalText People born today
    .row 
        +born("1", "Kevin Bacon", "62")
        +born("2", "Sophia Bush", "38")
        +born("3", "Milo Ventimiglia", "43")
        +born("4", "Billy Crudup", "52")
        +born("5", "Amanda Peterson", "1971-2015")
        +born("6", "Maya Hawke", "22")