nav.footer__button.nav.lead.text-center.justify-content-center
    a.nav-link.text-white(href='#'): i.fab.fa-facebook-f
    a.nav-link.text-white(href='#'): i.fab.fa-instagram
    a.nav-link.text-white(href='#'): i.fab.fa-twitch
    a.nav-link.text-white(href='#'): i.fab.fa-twitter
    a.nav-link.text-white(href='#'): i.fab.fa-youtube
.footer__home.d-flex.py-4
    a.text-decoration-none.m-auto(href='#'): h3.font-weight-bold.p-1.rounded.bg-light(style="color: black") Filmdb
.footer__author
    p.text-center.normalText 2020 | 1m93