.watch.container.mt-5
    h3.font-weight-bold.text-warning.pl-3.borderTitle More to explore
    p.normalText Editors’ picks
    .watch__list.row 
        +watch(11, "9.5", "Breaking Bad")
        +watch(12, "8.3", "1917")
        +watch(13, "9.3", "Game of Thrones")
        +watch(14, "8.8", "Inception")
        +watch(15, "8.6", "Interstellar")
        +watch(3, "7.9", "Knives Out")