.news.container.mt-5
    h3.font-weight-bold.text-warning.pl-3.borderTitle Top news
    .row.mt-4 
        +news("1", "Focus Features in Talks to Finance and Distribute James Gray’s ‘Armageddon Time’ With Cate Blanchett", "07 July 2020")
        +news("2", "Halle Berry Steps Away From Opportunity To Play Transgender Man After Backlash", "07 July 2020")
        +news("3", "DC’s Stargirl to Leave Streaming Platform DC Universe, Renewed for Season 2 at The CW", "06 July 2020")
    .news__button.float-left
        button.btn.btn-outline-light.btn-sm.rounded-pill.mr-1.mb-2.mb-xs-0(type='submit') Top news
        button.btn.btn-outline-light.btn-sm.rounded-pill.mr-1.mb-2.mb-xs-0(type='submit') Movies news
        button.btn.btn-outline-light.btn-sm.rounded-pill.mr-1.mb-2.mb-xs-0(type='submit') TV news
        button.btn.btn-outline-light.btn-sm.rounded-pill.mr-1.mb-2.mb-xs-0(type='submit') Celebrity news
    .clearfix