.watch.container.mt-5
    h3.font-weight-bold.text-warning.pl-3.borderTitle What to watch
    p.normalText This week's top TV and movies
    .watch__list.row 
        +watch(1, "8.8", "Dark")
        +watch(2, "9.1", "Hamilton")
        +watch(3, "7.9", "Knives Out")
        +watch(4, "8.5", "Joker")
        +watch(5, "8.6", "Parasite")
        +watch(8, "7.6", "Watchmen")