- 
    slides = [
        {"name": "1917", "year": "2019", "image": "1", "describe": "April 6th, 1917. As a regiment assembles to wage war deep in enemy territory, two soldiers are assigned to race against time and deliver a message that will stop 1,600 men from walking straight into a deadly trap."},
        {"name": "Jojo Rabbit", "year": "2019", "image": "2","describe": "A young boy in Hitler's army finds out his mother is hiding a Jewish girl in their home."},
        {"name": "Joker", "year": "2019", "image": "3","describe": "In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker."},
        {"name": "Knives Out", "year": "2019", "image": "4","describe": "A detective investigates the death of a patriarch of an eccentric, combative family."},
        {"name": "Ford v Ferrari", "year": "2019", "image": "5","describe": "American car designer Carroll Shelby and driver Ken Miles battle corporate interference and the laws of physics to build a revolutionary race car for Ford in order to defeat Ferrari at the 24 Hours of Le Mans in 1966."}
    ]