include constant.pug
include mixin.pug

doctype html
html(lang='en')
    head 
        include modules/head.pug

    body
        header.fixed-top
            include modules/navbar.pug

        main.overflow-hidden
            include modules/slide.pug
            include modules/newTrailer.pug
            include modules/watch.pug  
            include modules/stream.pug
            include modules/born.pug
            include modules/news.pug
            include modules/more.pug

        footer.mt-5
            include modules/footer.pug