$PrimaryColor: #ffc107
$TextColor: #ffffffb3

*
    margin: 0
    padding: 0

body
    background-color: #000 !important

.borderTitle
    border-left: 6px solid $PrimaryColor

.normalText
    color: $TextColor

header
    background-color: rgba(0, 0, 0, 0.7)
    .navbar-dark .navbar-nav .nav-link
        &.active, &:hover
            color: $PrimaryColor !important
            transition: 0.5s

.poster
    padding: 0 6rem
    &__text
        width: 40%
    &__button
        a.nav-link
            color: white
            &:hover
                transform: scale(1.2)
                transition: 0.5s

.newTrailer
    color: white
    .trailer
        &__video
            position: relative
            cursor: pointer
            overflow: hidden
            &-img
                transition: 0.5s ease-in-out
            &-text
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background: rgba(0, 0, 0, 0.7)
                visibility: hidden
                opacity: 0
                transition: opacity 0.5s, visibility 0.5s
                & > a
                    color: $TextColor
                    i
                        font-size: 3vw
            &:hover
                .trailer__video-text
                    visibility: visible
                    opacity: 1
                .trailer__video-img
                    transform: scale(1.2)

.watch
    &__list
        &-item
            img:hover
                cursor: pointer
                opacity: 0.6
                transition: 0.5s
            .card-body
                background-color: #1a1a1a
                p i
                    color: $PrimaryColor
                .text-center i:hover
                    transform: scale(1.2)
                    transition: 0.5s